@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo para navegadores basados en WebKit */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* Fondo del scrollbar */
::-webkit-scrollbar-track {
    background: #06022c;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(121, 121, 121, 0.863)
}

div::-webkit-scrollbar {
    width: 3px;
}

div::-webkit-scrollbar-track {
    background: #000;
}

div::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb:hover {
    background: rgba(121, 121, 121, 0.863)
}
